# Import EDD data for ML
This workbook is meant to import proteomics/isoprenol data from EDD for CRISPRi DBTL cycles and format it for ML e.g. a wide matrix where each row is a different line and columns are different features. Dataframe should be formatted as:

[metadata (line name, targets) | Proteomics data | isoprenol]

Import packages

In [1]:
import edd_utils as eddu
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re 
import random
random.seed(1)

## Import data from EDD

Define EDD import data

In [2]:
study_slug_1 = 'crispri-automation-for-enhanced-isoprenol-pro-096d'
study_slug_2 = 'crispri-automation-for-enhanced-isoprenol-pro-fca3'
study_slug_3 = 'crispri-automation-for-enhanced-isoprenol-pro-05e7'
study_slug_4 = 'crispri-automation-for-enhanced-isoprenol-pro-a97b'
study_slug_5 = 'crispri-automation-for-enhanced-isoprenol-pro-9d3d'
edd_server   = 'edd.jbei.org'
username     = 'pckinnunen'

Open EDD session

In [3]:
try:
    session = eddu.login(edd_server=edd_server, user=username)
except:
    print('ERROR! Connection to EDD failed. We will try to load data from disk...')
else:
    print('OK! Connection to EDD successful. We will try to load data from EDD...')

Password for pckinnunen:  ········

OK! Connection to EDD successful. We will try to load data from EDD...

Import data

In [4]:
try:
    df1 = eddu.export_study(session, study_slug_1, edd_server=edd_server)
except (NameError, AttributeError, KeyError):
    print(f'ERROR! Not able to export study 1.')
    
try:
    df2 = eddu.export_study(session, study_slug_2, edd_server=edd_server)
except (NameError, AttributeError, KeyError):
    print(f'ERROR! Not able to export study 2.')
    
try:
    df3 = eddu.export_study(session, study_slug_3, edd_server=edd_server)
except (NameError, AttributeError, KeyError):
    print(f'ERROR! Not able to export study 3.')
    
try:
    df4 = eddu.export_study(session, study_slug_4, edd_server=edd_server)
except (NameError, AttributeError, KeyError):
    print(f'ERROR! Not able to export study 4.')
    
try:
    df5 = eddu.export_study(session, study_slug_5, edd_server=edd_server)
except (NameError, AttributeError, KeyError):
    print(f'ERROR! Not able to export study 5.')

  0%|          | 0/1033140 [00:00<?, ?it/s]

  0%|          | 0/475488 [00:00<?, ?it/s]

  0%|          | 0/420288 [00:00<?, ?it/s]

  0%|          | 0/411567 [00:00<?, ?it/s]

  0%|          | 0/345774 [00:00<?, ?it/s]

## Check correspondence between dataframes

In [5]:
print(f"Shape of df1: {df1.shape}\t shape of d2: {df2.shape}\tshape of d3: {df3.shape}\tshape of d4: {df4.shape}")

Shape of df1: (1033140, 15)	 shape of d2: (475488, 15)	shape of d3: (420288, 15)	shape of d4: (411567, 15)

In [6]:
df1.head(3)

,Study ID,Study Name,Line ID,Replicate Key,Line Name,Line Description,Protocol,Assay ID,Assay Name,Formal Type,Measurement Type,Compartment,Units,Value,Hours
0,197035,CRISPRi automation for enhanced isoprenol prod...,197036,25cc36fe-78f8-4fd3-98ef-bcb2be779d3c,Control-R1,BL1A1_NT,GC-FID,197456,Control-R1,cid:12988,3-METHYL-3-BUTEN-1-OL,0,mg/L,177.33700,48.0
1,197035,CRISPRi automation for enhanced isoprenol prod...,197174,8a86f0dd-cdde-4cba-bd78-816062eea3d6,Control-R10,BL4A1_NT,GC-FID,197457,Control-R10,cid:12988,3-METHYL-3-BUTEN-1-OL,0,mg/L,176.13507,48.0
2,197035,CRISPRi automation for enhanced isoprenol prod...,197182,53139a40-c4a9-4094-8cf2-aed9cf3833ab,Control-R11,BL4B1_NT,GC-FID,197458,Control-R11,cid:12988,3-METHYL-3-BUTEN-1-OL,0,mg/L,192.63713,48.0

In [7]:
df2.head(3)

,Study ID,Study Name,Line ID,Replicate Key,Line Name,Line Description,Protocol,Assay ID,Assay Name,Formal Type,Measurement Type,Compartment,Units,Value,Hours
0,191107,CRISPRi automation for enhanced isoprenol prod...,191108,5ccffc96-15ea-4e75-89cc-e198de3bab69,PP_0226_PP_0897_PP_5288-R1,DBTL1_P1_001,GC-FID,191300,PP_0226_PP_0897_PP_5288-R1,cid:12988,3-METHYL-3-BUTEN-1-OL,0,mg/L,173.9811,48.0
1,191107,CRISPRi automation for enhanced isoprenol prod...,191109,82a2ac64-9ac2-46db-a26d-0325b57e876e,PP_1319_PP_1457_PP_4192-R1,DBTL1_P1_002,GC-FID,191301,PP_1319_PP_1457_PP_4192-R1,cid:12988,3-METHYL-3-BUTEN-1-OL,0,mg/L,268.6526,48.0
2,191107,CRISPRi automation for enhanced isoprenol prod...,191110,620d107d-a643-4f69-82ae-a11916dfda58,PP_2213_PP_2471_PP_4266-R1,DBTL1_P1_003,GC-FID,191302,PP_2213_PP_2471_PP_4266-R1,cid:12988,3-METHYL-3-BUTEN-1-OL,0,mg/L,182.8489,48.0

In [8]:
df3.head(3)

,Study ID,Study Name,Line ID,Replicate Key,Line Name,Line Description,Protocol,Assay ID,Assay Name,Formal Type,Measurement Type,Compartment,Units,Value,Hours
0,194881,CRISPRi automation for enhanced isoprenol prod...,194882,c86dfaf3-ec02-463c-96c8-f8fe122b02cc,PP_0528_PP_0815_PP_1317_PP_4191-R1,DBTL2_P1_001,GC-FID,195074,PP_0528_PP_0815_PP_1317_PP_4191-R1,cid:12988,3-METHYL-3-BUTEN-1-OL,0,mg/L,201.9179,48.0
1,194881,CRISPRi automation for enhanced isoprenol prod...,194883,c76bdfef-08b8-463c-8c1e-324e10fe5eee,PP_0528_PP_0813_PP_0815_PP_1317-R1,DBTL2_P1_002,GC-FID,195075,PP_0528_PP_0813_PP_0815_PP_1317-R1,cid:12988,3-METHYL-3-BUTEN-1-OL,0,mg/L,392.7469,48.0
2,194881,CRISPRi automation for enhanced isoprenol prod...,194884,0d59d68e-24f6-4d82-9235-787339f485bd,PP_0528_PP_0814_PP_0815_PP_1317-R1,DBTL2_P1_003,GC-FID,195076,PP_0528_PP_0814_PP_0815_PP_1317-R1,cid:12988,3-METHYL-3-BUTEN-1-OL,0,mg/L,457.0174,48.0

In [9]:
df4.head(3)

,Study ID,Study Name,Line ID,Replicate Key,Line Name,Line Description,Protocol,Assay ID,Assay Name,Formal Type,Measurement Type,Compartment,Units,Value,Hours
0,209320,CRISPRi automation for enhanced isoprenol prod...,209352,2ad8492a-e7b3-4ad2-a068-c657bb19aad8,Control_P1-R1,DBTL3_P1_032,Global Proteomics,209504,Control_P1-R1,sp|A0A0M4F6K2,Phenylalanine ammonia lyase,0,counts,2000000.0,48.0
1,209320,CRISPRi automation for enhanced isoprenol prod...,209360,b1e167e7-8b73-419e-8683-2dc66ac9f698,Control_P1-R2,DBTL3_P1_040,Global Proteomics,209505,Control_P1-R2,sp|A0A0M4F6K2,Phenylalanine ammonia lyase,0,counts,2050000.0,48.0
2,209320,CRISPRi automation for enhanced isoprenol prod...,209368,94ab83a2-bd2a-47bf-81e2-3528b3a0100b,Control_P1-R3,DBTL3_P1_048,Global Proteomics,209506,Control_P1-R3,sp|A0A0M4F6K2,Phenylalanine ammonia lyase,0,counts,1320000.0,48.0

In [10]:
df5.head(3)

,Study ID,Study Name,Line ID,Replicate Key,Line Name,Line Description,Protocol,Assay ID,Assay Name,Formal Type,Measurement Type,Compartment,Units,Value,Hours
0,211976,CRISPRi automation for enhanced isoprenol prod...,211977,4d3d53db-7352-42aa-8303-91a28fcda44b,PP_0368_PP_0812_PP_0813-R1,DBTL4_P1_001,GC-FID,212307,PP_0368_PP_0812_PP_0813-R1,cid:12988,3-METHYL-3-BUTEN-1-OL,0,mg/L,458.8593,48.0
1,211976,CRISPRi automation for enhanced isoprenol prod...,211978,a9309f66-2c5f-462b-8c8c-1df3b0152a8d,PP_0368_PP_0812_PP_0815-R1,DBTL4_P1_002,GC-FID,212308,PP_0368_PP_0812_PP_0815-R1,cid:12988,3-METHYL-3-BUTEN-1-OL,0,mg/L,713.6108,48.0
2,211976,CRISPRi automation for enhanced isoprenol prod...,211979,6daab9e9-3647-47c9-93dc-d5aa33dc7f2f,PP_0751_PP_0812_PP_0814-R1,DBTL4_P1_003,GC-FID,212309,PP_0751_PP_0812_PP_0814-R1,cid:12988,3-METHYL-3-BUTEN-1-OL,0,mg/L,410.4078,48.0

In [11]:
print(f"All columns matching - d1/d2: {all(df1.columns == df2.columns)}")
print(f"All columns matching - d1/d3: {all(df1.columns == df3.columns)}")
print(f"All columns matching - d1/d4: {all(df1.columns == df4.columns)}")
print(f"All columns matching - d1/d5: {all(df1.columns == df5.columns)}")

All columns matching - d1/d2: True
All columns matching - d1/d3: True
All columns matching - d1/d4: True
All columns matching - d1/d5: True

Print different types of protocols:

In [12]:
print(f"df1 protocols: {df1['Protocol'].value_counts()}")
print(f"df2 protocols: {df2['Protocol'].value_counts()}")
print(f"df3 protocols: {df3['Protocol'].value_counts()}")
print(f"df4 protocols: {df4['Protocol'].value_counts()}")
print(f"df5 protocols: {df5['Protocol'].value_counts()}")

df1 protocols: Protocol
Global Proteomics    1032720
GC-FID                   420
Name: count, dtype: int64
df2 protocols: Protocol
Global Proteomics    419904
Biolector             55392
GC-FID                  192
Name: count, dtype: int64
df3 protocols: Protocol
Global Proteomics    420096
GC-FID                  192
Name: count, dtype: int64
df4 protocols: Protocol
Global Proteomics    411384
GC-FID                  183
Name: count, dtype: int64
df5 protocols: Protocol
Shotgun (Discovery) Proteomics    345588
GC-FID                               186
Name: count, dtype: int64

Update Protocol name for proteomics in df5

In [13]:
df5.loc[
    df5['Protocol'] == 'Shotgun (Discovery) Proteomics',
    'Protocol'
] = 'Global Proteomics'

We don't need the biolector data, so I'll drop it from the second dataframe:

In [14]:
df2.drop(index = df2.loc[df2['Protocol'] == 'Biolector'].index,axis = 0, inplace=True)
df2['Protocol'].value_counts()

Protocol
Global Proteomics    419904
GC-FID                  192
Name: count, dtype: int64

Add boolean column for whetether each line is a control or not.

In [15]:
check_control_string = lambda x: True if 'ontrol' in x else False
df1['is_control'] = df1['Line Name'].apply(check_control_string)
df2['is_control'] = df2['Line Name'].apply(check_control_string)
df3['is_control'] = df3['Line Name'].apply(check_control_string)
df4['is_control'] = df4['Line Name'].apply(check_control_string)
df5['is_control'] = df5['Line Name'].apply(check_control_string)

Look at the control line names

In [16]:
df1[df1['is_control']]['Line Name'].unique()

array(['Control-R1', 'Control-R10', 'Control-R11', 'Control-R12',
       'Control-R13', 'Control-R14', 'Control-R15', 'Control-R16',
       'Control-R17', 'Control-R18', 'Control-R2', 'Control-R3',
       'Control-R4', 'Control-R5', 'Control-R6', 'Control-R7',
       'Control-R8', 'Control-R9'], dtype=object)

In [17]:
df2[df2['is_control']]['Line Name'].unique()

array(['Control_P1-R1', 'Control_P1-R2', 'Control_P1-R3', 'Control_P2-R1',
       'Control_P2-R2', 'Control_P2-R3', 'Control_P3-R1', 'Control_P3-R2',
       'Control_P3-R3', 'Control_P4-R1', 'Control_P4-R2', 'Control_P4-R3'],
      dtype=object)

In [18]:
df3[df3['is_control']]['Line Name'].unique()

array(['Control_P1-R1', 'Control_P1-R2', 'Control_P1-R3', 'Control_P2-R1',
       'Control_P2-R2', 'Control_P2-R3', 'Control_P3-R1', 'Control_P3-R2',
       'Control_P3-R3', 'Control_P4-R1', 'Control_P4-R2', 'Control_P4-R3'],
      dtype=object)

In [19]:
df4[df4['is_control']]['Line Name'].unique()

array(['Control_P1-R1', 'Control_P1-R2', 'Control_P1-R3', 'Control_P2-R1',
       'Control_P2-R2', 'Control_P2-R3', 'Control_P3-R1', 'Control_P3-R2',
       'Control_P3-R3', 'Control_P4-R1', 'Control_P4-R2', 'Control_P4-R3'],
      dtype=object)

In [20]:
df5[df5['is_control']]['Line Name'].unique()

array(['Control_P1-R1', 'Control_P1-R2', 'Control_P1-R3', 'Control_P2-R1',
       'Control_P2-R2', 'Control_P2-R3', 'Control_P3-R1', 'Control_P3-R2',
       'Control_P3-R3', 'Control_P4-R1', 'Control_P4-R2', 'Control_P4-R3'],
      dtype=object)

### Format line names separately

#### Remove NT lines from df1
NT lines had different gRNA that we want to exclude from analysis.

In [21]:
df1['has_nt'] = df1['Line Name'].apply(lambda x: True if 'NT' in x else False)
df1 = df1.drop(index = df1.loc[df1['has_nt']].index, axis = 0)
df1 = df1.drop(columns=['has_nt'])

#### Add column for replicate number

In [22]:
def get_rep_number(line_name):
    r_index = line_name.index('-R')
    return int(line_name[(r_index+2):])

df1['rep'] = df1['Line Name'].apply(get_rep_number)
df2.loc[~df2['is_control'], 'rep'] = df2.loc[~df2['is_control'], 'Line Name'].apply(get_rep_number)

#### Update df2/df3 control rep number
Get replicate number for df2 controls based on the plate number and rep number.

Define function to get a single replicate number based on the plate number and the replicate. There were 3 replicates in each of 4 plates, so 12 total.

In [23]:
def get_rep_number_with_plate(line_name):
    r_index = line_name.index('-R')
    p_index = line_name.index('_P')
    r = int(line_name[r_index+2])
    p = int(line_name[p_index+2])
    return (p-1)*3 + r

test_strings = ['Control_P1-R1', 'Control_P1-R3', 'Control_P3-R3']
for ts in test_strings:
    print(f'Test string = {ts}, rep = {get_rep_number_with_plate(ts)}')

Test string = Control_P1-R1, rep = 1
Test string = Control_P1-R3, rep = 3
Test string = Control_P3-R3, rep = 9

Apply function

In [24]:
df2.loc[df2['is_control'], 'rep'] = df2.loc[df2['is_control'], 'Line Name'].apply(get_rep_number_with_plate)
df3.loc[df3['is_control'], 'rep'] = df3.loc[df3['is_control'], 'Line Name'].apply(get_rep_number_with_plate)
df4.loc[df4['is_control'], 'rep'] = df4.loc[df4['is_control'], 'Line Name'].apply(get_rep_number_with_plate)
df5.loc[df5['is_control'], 'rep'] = df5.loc[df5['is_control'], 'Line Name'].apply(get_rep_number_with_plate)

In [25]:
def get_line_name_norep(line_name):
    r_index = line_name.index('-R')
    return line_name[:r_index]
df1['line_name_norep'] = df1['Line Name'].apply(get_line_name_norep)
df2['line_name_norep'] = df2['Line Name'].apply(get_line_name_norep)
df3['line_name_norep'] = df3['Line Name'].apply(get_line_name_norep)
df4['line_name_norep'] = df4['Line Name'].apply(get_line_name_norep)
df5['line_name_norep'] = df5['Line Name'].apply(get_line_name_norep)

In [26]:
df1['line_name_norep'].unique()

array(['Control', 'PP_0001', 'PP_0103', 'PP_0104', 'PP_0105', 'PP_0106',
       'PP_0168', 'PP_0225', 'PP_0226', 'PP_0277', 'PP_0338', 'PP_0362',
       'PP_0368', 'PP_0437', 'PP_0528', 'PP_0548', 'PP_0582', 'PP_0597',
       'PP_0654', 'PP_0658', 'PP_0691', 'PP_0751', 'PP_0774', 'PP_0806',
       'PP_0812', 'PP_0813', 'PP_0814', 'PP_0815', 'PP_0897', 'PP_0944',
       'PP_0999', 'PP_1023', 'PP_1031', 'PP_1157', 'PP_1240', 'PP_1251',
       'PP_1317', 'PP_1318', 'PP_1319', 'PP_1394', 'PP_1444', 'PP_1457',
       'PP_1506', 'PP_1610', 'PP_1620', 'PP_1664', 'PP_1755', 'PP_1769',
       'PP_1770', 'PP_1777', 'PP_2095', 'PP_2112', 'PP_2136', 'PP_2137',
       'PP_2213', 'PP_2339', 'PP_2471', 'PP_2589', 'PP_2925', 'PP_3071',
       'PP_3122', 'PP_3123', 'PP_3280', 'PP_3282', 'PP_3355', 'PP_3365',
       'PP_3394', 'PP_3578', 'PP_3744', 'PP_3754', 'PP_3755', 'PP_4011',
       'PP_4012', 'PP_4043', 'PP_4116', 'PP_4119', 'PP_4120', 'PP_4121',
       'PP_4122', 'PP_4123', 'PP_4128', 'PP_4130', 'PP_4159', 'PP_4160',
       'PP_4161', 'PP_4174', 'PP_4175', 'PP_4185', 'PP_4186', 'PP_4187',
       'PP_4188', 'PP_4189', 'PP_4191', 'PP_4192', 'PP_4193', 'PP_4266',
       'PP_4487', 'PP_4549', 'PP_4550', 'PP_4635', 'PP_4636', 'PP_4650',
       'PP_4651', 'PP_4667', 'PP_4678', 'PP_4679', 'PP_4702', 'PP_4737',
       'PP_4862', 'PP_4894', 'PP_5064', 'PP_5128', 'PP_5186', 'PP_5203',
       'PP_5288', 'PP_5335', 'PP_5416', 'PP_5417', 'PP_5419', 'PP_5420'],
      dtype=object)

In [27]:
df2['line_name_norep'].unique()

array(['PP_0226_PP_0897_PP_5288', 'PP_1319_PP_1457_PP_4192',
       'PP_2213_PP_2471_PP_4266', 'PP_3123_PP_4862_PP_5186',
       'PP_2137_PP_4116_PP_4187', 'PP_4189_PP_4550_PP_4862',
       'PP_0813_PP_1769_PP_4191', 'PP_0368_PP_4191_PP_4192',
       'PP_0751_PP_1620_PP_4678', 'PP_0813_PP_4549_PP_5288',
       'PP_2112_PP_2136_PP_4678', 'PP_0368_PP_0812_PP_0944',
       'PP_0999_PP_3578_PP_5186', 'PP_2137_PP_4011_PP_4120',
       'PP_0658_PP_1506_PP_3071', 'Control_P1', 'PP_2471_PP_3754_PP_4667',
       'PP_0437_PP_0528_PP_3578', 'PP_2112_PP_4189_PP_5186',
       'PP_0999_PP_4120_PP_4191', 'PP_0226_PP_0597_PP_4678',
       'PP_0226_PP_0437_PP_0751', 'PP_0774_PP_1607_PP_3578',
       'PP_0597_PP_1769_PP_4862', 'PP_0226_PP_2339_PP_3365',
       'PP_2112_PP_4188_PP_4862', 'PP_0658_PP_0815_PP_4187',
       'PP_0774_PP_2213_PP_5288', 'PP_1444_PP_4189_PP_4191',
       'PP_1506_PP_4651_PP_4862', 'PP_0814_PP_4192', 'Control_P2',
       'PP_0814_PP_5288', 'PP_0774_PP_1769', 'PP_0658_PP_2136',
       'PP_3123_PP_5288', 'PP_2339_PP_4186', 'PP_4122_PP_4188',
       'PP_0814_PP_3123', 'PP_1607_PP_4550', 'PP_0814_PP_1769',
       'PP_0368_PP_0597', 'PP_0528_PP_5288', 'PP_0813_PP_4120',
       'PP_1620_PP_4116', 'PP_2137_PP_4189', 'PP_0814_PP_4862',
       'Control_P3', 'PP_0812_PP_2095', 'PP_0437_PP_4116',
       'PP_0815_PP_1317', 'PP_1319_PP_4678', 'PP_3123_PP_4667',
       'PP_3365_PP_3754', 'PP_3123_PP_3755', 'PP_0813_PP_4189',
       'PP_0999_PP_4679', 'PP_0437_PP_3365', 'PP_1319_PP_4121_PP_4667',
       'PP_0812_PP_4121', 'Control_P4'], dtype=object)

#### Drop plate information from control

In [28]:
df2.loc[df2['is_control'], 'line_name_norep'] = 'Control'
df3.loc[df3['is_control'], 'line_name_norep'] = 'Control'
df4.loc[df4['is_control'], 'line_name_norep'] = 'Control'
df5.loc[df5['is_control'], 'line_name_norep'] = 'Control'
df2['line_name_norep'].unique()

array(['PP_0226_PP_0897_PP_5288', 'PP_1319_PP_1457_PP_4192',
       'PP_2213_PP_2471_PP_4266', 'PP_3123_PP_4862_PP_5186',
       'PP_2137_PP_4116_PP_4187', 'PP_4189_PP_4550_PP_4862',
       'PP_0813_PP_1769_PP_4191', 'PP_0368_PP_4191_PP_4192',
       'PP_0751_PP_1620_PP_4678', 'PP_0813_PP_4549_PP_5288',
       'PP_2112_PP_2136_PP_4678', 'PP_0368_PP_0812_PP_0944',
       'PP_0999_PP_3578_PP_5186', 'PP_2137_PP_4011_PP_4120',
       'PP_0658_PP_1506_PP_3071', 'Control', 'PP_2471_PP_3754_PP_4667',
       'PP_0437_PP_0528_PP_3578', 'PP_2112_PP_4189_PP_5186',
       'PP_0999_PP_4120_PP_4191', 'PP_0226_PP_0597_PP_4678',
       'PP_0226_PP_0437_PP_0751', 'PP_0774_PP_1607_PP_3578',
       'PP_0597_PP_1769_PP_4862', 'PP_0226_PP_2339_PP_3365',
       'PP_2112_PP_4188_PP_4862', 'PP_0658_PP_0815_PP_4187',
       'PP_0774_PP_2213_PP_5288', 'PP_1444_PP_4189_PP_4191',
       'PP_1506_PP_4651_PP_4862', 'PP_0814_PP_4192', 'PP_0814_PP_5288',
       'PP_0774_PP_1769', 'PP_0658_PP_2136', 'PP_3123_PP_5288',
       'PP_2339_PP_4186', 'PP_4122_PP_4188', 'PP_0814_PP_3123',
       'PP_1607_PP_4550', 'PP_0814_PP_1769', 'PP_0368_PP_0597',
       'PP_0528_PP_5288', 'PP_0813_PP_4120', 'PP_1620_PP_4116',
       'PP_2137_PP_4189', 'PP_0814_PP_4862', 'PP_0812_PP_2095',
       'PP_0437_PP_4116', 'PP_0815_PP_1317', 'PP_1319_PP_4678',
       'PP_3123_PP_4667', 'PP_3365_PP_3754', 'PP_3123_PP_3755',
       'PP_0813_PP_4189', 'PP_0999_PP_4679', 'PP_0437_PP_3365',
       'PP_1319_PP_4121_PP_4667', 'PP_0812_PP_4121'], dtype=object)

### Add plate information to column
For DBTL0, one plate had very low expression compared to the other two. We will include DBTL0 plate information and normalize by plate-specific controls. For DBTL1, all plates had similar controls, so we will set all plates equal to 1 for cycle=2.

#### Import plate-control information for DBTL0

In [29]:
plate_mapping_df = pd.read_excel('./data/sample injection order.xlsx')
plate_mapping_df['Batch number'].value_counts()

Batch number
3    228
1     96
2     96
Name: count, dtype: int64

#### Add plate column to dataframe

In [30]:
plate_mapping_dict = dict(zip(list(plate_mapping_df['Sample Name in order injected']), list(plate_mapping_df['Batch number'])))

In [31]:
df1['plate_number'] = df1['Line Name'].apply(lambda x: plate_mapping_dict[x])
df1['plate_number'].value_counts()

plate_number
3    564525
2    224160
1    162888
Name: count, dtype: int64

#### Add constant plate number to other dataframes

In [32]:
df2['plate_number'] = 1
df3['plate_number'] = 1
df4['plate_number'] = 1
df5['plate_number'] = 1

### Compare proteins measured in each experiment

#### Compare proteins between plate in df1

In [33]:
df1_control_proteins_by_plate = [
    df1.loc[(df1['is_control']) & (df1['Protocol'] == 'Global Proteomics') & (df1['plate_number'] == x), 'Formal Type'].unique()
    for x in [1, 2, 3]]
df1_noncontrol_proteins_by_plate = [
    df1.loc[(~df1['is_control']) & (df1['Protocol'] == 'Global Proteomics') & (df1['plate_number'] == x), 'Formal Type'].unique()
    for x in [1, 2, 3]]

In [34]:
print(f"Number of unique control proteins in each plate for DBTL0: {[len(x) for x in df1_control_proteins_by_plate]}")
print(f"Number of unique proteins in each plate for DBTL0: {[len(x) for x in df1_noncontrol_proteins_by_plate]}")

Number of unique control proteins in each plate for DBTL0: [2467, 2334, 2508]
Number of unique proteins in each plate for DBTL0: [2467, 2334, 2508]

#### Get list of proteins present in all 3 controls

In [35]:
# set(a) & set(b) & set(c)
df1_proteins_cont = np.array(
    list(
        set(df1_control_proteins_by_plate[0])
        & set(df1_control_proteins_by_plate[1])
        & set(df1_control_proteins_by_plate[2])))

df1_proteins_nc = np.array(
    list(
        set(df1_noncontrol_proteins_by_plate[0])
        & set(df1_noncontrol_proteins_by_plate[1])
        & set(df1_noncontrol_proteins_by_plate[2])))

## Update protein for dbtl4 with incorrect name

In [36]:
incorrect_protein_formal_type = 'sp|Q835L4|Q835L4_ENTFA EF_1363'
correct_protein_formal_type = 'tr|Q835L3|Q835L3_ENTFA'

df5.loc[df5['Formal Type'] == incorrect_protein_formal_type, 'Formal Type'] = correct_protein_formal_type

In [37]:
# df1_proteins_nc = df1.loc[(~df1['is_control']) & (df1['Protocol'] == 'Global Proteomics'), 'Formal Type'].unique()
# df1_proteins_cont = df1.loc[(df1['is_control']) & (df1['Protocol'] == 'Global Proteomics'), 'Formal Type'].unique()

df2_proteins_nc = df2.loc[(~df2['is_control']) & (df2['Protocol'] == 'Global Proteomics'), 'Formal Type'].unique()
df2_proteins_cont = df2.loc[(df2['is_control']) & (df2['Protocol'] == 'Global Proteomics'), 'Formal Type'].unique()

df3_proteins_nc = df3.loc[(~df3['is_control']) & (df3['Protocol'] == 'Global Proteomics'), 'Formal Type'].unique()
df3_proteins_cont = df3.loc[(df3['is_control']) & (df3['Protocol'] == 'Global Proteomics'), 'Formal Type'].unique()

df4_proteins_nc = df4.loc[(~df4['is_control']) & (df4['Protocol'] == 'Global Proteomics'), 'Formal Type'].unique()
df4_proteins_cont = df4.loc[(df4['is_control']) & (df4['Protocol'] == 'Global Proteomics'), 'Formal Type'].unique()

df5_proteins_nc = df5.loc[(~df5['is_control']) & (df5['Protocol'] == 'Global Proteomics'), 'Formal Type'].unique()
df5_proteins_cont = df5.loc[(df5['is_control']) & (df5['Protocol'] == 'Global Proteomics'), 'Formal Type'].unique()

In [38]:
print(f"""length of each set of proteins:\ndf1 noncontrol: {len(df1_proteins_cont)}\t df1 control: {len(df1_proteins_nc)}
df2 noncontrol: {len(df2_proteins_cont)}\t df2 control: {len(df2_proteins_nc)}
df3 noncontrol: {len(df3_proteins_cont)}\t df3 control: {len(df3_proteins_nc)}
df4 noncontrol: {len(df4_proteins_cont)}\t df4 control: {len(df4_proteins_nc)}
df5 noncontrol: {len(df5_proteins_cont)}\t df4 control: {len(df5_proteins_nc)}
""")
print(f"""All control and non-control proteins same?\n
df1: {all(df1_proteins_cont == df1_proteins_nc)}\n
df2: {all(df2_proteins_cont == df2_proteins_nc)}\n
df3: {all(df3_proteins_cont == df3_proteins_nc)}\n
df4: {all(df4_proteins_cont == df4_proteins_nc)}\n
df5: {all(df5_proteins_cont == df5_proteins_nc)}""")

length of each set of proteins:
df1 noncontrol: 2208	 df1 control: 2208
df2 noncontrol: 2187	 df2 control: 2187
df3 noncontrol: 2188	 df3 control: 2188
df4 noncontrol: 2248	 df4 control: 2248
df5 noncontrol: 1858	 df4 control: 1858

All control and non-control proteins same?

df1: True

df2: True

df3: True

df4: True

df5: True

In [39]:
all_shared_proteins = list(
    (
        set(df1_proteins_cont).intersection(
            set(df2_proteins_cont)).intersection(
            set(df3_proteins_cont)).intersection(
            set(df4_proteins_cont)).intersection(
            set(df5_proteins_cont))
    )
)
# df2_df3_shared_proteins = list(
#     set(df2_proteins_cont).intersection(set(df3_proteins_cont))
# )
len(all_shared_proteins)
# len(df2_df3_shared_proteins)

1694

## Merge dataframes and format

Add a column for the dbtl cycle

In [40]:
df1['cycle'] = 0
df2['cycle'] = 1
df3['cycle'] = 2
df4['cycle'] = 3
df5['cycle'] = 4

In [41]:
df = pd.concat([df1, df2, df3, df4, df5], axis = 0).reset_index()

In [42]:
df.head(3)

,index,Study ID,Study Name,Line ID,Replicate Key,Line Name,Line Description,Protocol,Assay ID,Assay Name,...,Measurement Type,Compartment,Units,Value,Hours,is_control,rep,line_name_norep,plate_number,cycle
0,0,197035,CRISPRi automation for enhanced isoprenol prod...,197036,25cc36fe-78f8-4fd3-98ef-bcb2be779d3c,Control-R1,BL1A1_NT,GC-FID,197456,Control-R1,...,3-METHYL-3-BUTEN-1-OL,0,mg/L,177.33700,48.0,True,1.0,Control,1,0
1,1,197035,CRISPRi automation for enhanced isoprenol prod...,197174,8a86f0dd-cdde-4cba-bd78-816062eea3d6,Control-R10,BL4A1_NT,GC-FID,197457,Control-R10,...,3-METHYL-3-BUTEN-1-OL,0,mg/L,176.13507,48.0,True,10.0,Control,2,0
2,2,197035,CRISPRi automation for enhanced isoprenol prod...,197182,53139a40-c4a9-4094-8cf2-aed9cf3833ab,Control-R11,BL4B1_NT,GC-FID,197458,Control-R11,...,3-METHYL-3-BUTEN-1-OL,0,mg/L,192.63713,48.0,True,11.0,Control,2,0

In [43]:
df['Formal Type'].unique()

array(['cid:12988', 'sp|O85207|PHAG_PSEPK Phag',
       'sp|P00552|KKA2_KLEPN Neo', ..., 'sp|Q88KP7', 'sp|Q88NR9',
       'tr|Q9FD70|Q9FD70_ENTFL'], dtype=object)

In [44]:
df['cycle'].value_counts()

cycle
0    951573
2    420288
1    420096
3    411567
4    345774
Name: count, dtype: int64

### Drop proteins that aren't in both cycles

In [45]:
idx_to_keep = (df['Formal Type'] == 'cid:12988') | (df['Formal Type'].isin(all_shared_proteins))
df = df.loc[idx_to_keep, :]

In [46]:
df['cycle'].value_counts()

cycle
0    655965
1    325440
2    325440
4    315270
3    310185
Name: count, dtype: int64

### Save unique proteins
Save unique proteins to get PP numbers and letter names of proteins

In [47]:
formal_type_df = pd.DataFrame(df['Formal Type'].unique())
formal_type_df.to_csv('./data/formal_types_merged.csv', header = False, index = False)

### Drop unnecessary columns

In [48]:
columns_to_keep = ['Line Name', 'Protocol', 'Formal Type', 'Measurement Type', 'Value', 'is_control', 'rep', 'line_name_norep', 'cycle', 'plate_number']
df = df[columns_to_keep]
df.head(3)

,Line Name,Protocol,Formal Type,Measurement Type,Value,is_control,rep,line_name_norep,cycle,plate_number
0,Control-R1,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,177.33700,True,1.0,Control,0,1
1,Control-R10,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,176.13507,True,10.0,Control,0,2
2,Control-R11,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,192.63713,True,11.0,Control,0,2

### Add PP names and 4 letter codes to dataframe

In [49]:
translation_df = pd.read_csv('./data/proteomics_id_translator.csv', header = 0, index_col= False)
translation_df.head(5)

,original,extracted,locus,primary_name,organism,is_putida
0,sp|Q9A9Z2,Q9A9Z2,CC_0819,xylD,Caulobacter vibrioides (strain ATCC 19089 / CB...,False
1,tr|Q835L3|Q835L3_ENTFA,Q835L3,EF_1364,mvaE,Enterococcus faecalis (strain ATCC 700802 / V583),False
2,sp|Q9FD71|HMGCS_ENTFL,Q9FD71,NaN,mvaS,Enterococcus faecalis (Streptococcus faecalis),False
3,P0AE22,P0AE22,b4055 JW4015,aphA,Escherichia coli (strain K12),False
4,sp|P00698|LYSC_CHICK Lysozyme C,P00698,NaN,LYZ,Gallus gallus (Chicken),False

In [50]:
ft_to_organism = dict(translation_df[['original', 'organism']].values)
ft_to_locus = dict(translation_df[['original', 'locus']].values)
ft_to_primary = dict(translation_df[['original', 'primary_name']].values)

In [51]:
'putida' in 'Pseudomonas putida (strain ATCC 47054 / DSM 61...'

True

In [52]:
df.loc[df['Formal Type'] != 'cid:12988', 'organism'] = df.loc[df['Formal Type'] != 'cid:12988', 'Formal Type'].apply(lambda x: ft_to_organism[x])
df.loc[df['Formal Type'] != 'cid:12988', 'locus'] = df.loc[df['Formal Type'] != 'cid:12988', 'Formal Type'].apply(lambda x: ft_to_locus[x])
df.loc[df['Formal Type'] != 'cid:12988', 'primary'] = df.loc[df['Formal Type'] != 'cid:12988', 'Formal Type'].apply(lambda x: ft_to_primary[x])
df.loc[df['Formal Type'] != 'cid:12988', 'is_putida'] = df.loc[df['Formal Type'] != 'cid:12988', 'organism'].apply(lambda x: x == 'Pseudomonas putida (strain ATCC 47054 / DSM 6125 / CFBP 8728 / NCIMB 11950 / KT2440)')

In [53]:
df.head(3)

,Line Name,Protocol,Formal Type,Measurement Type,Value,is_control,rep,line_name_norep,cycle,plate_number,organism,locus,primary,is_putida
0,Control-R1,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,177.33700,True,1.0,Control,0,1,NaN,NaN,NaN,NaN
1,Control-R10,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,176.13507,True,10.0,Control,0,2,NaN,NaN,NaN,NaN
2,Control-R11,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,192.63713,True,11.0,Control,0,2,NaN,NaN,NaN,NaN

In [54]:
df['cycle'].value_counts()

cycle
0    655965
1    325440
2    325440
4    315270
3    310185
Name: count, dtype: int64

### Examine non-putida proteins

In [55]:
df.loc[df['is_putida']==False, ['Formal Type', 'Measurement Type', 'locus', 'primary']].value_counts()

Formal Type                Measurement Type                                                               locus         primary
P0AE22                     Class B acid phosphatase                                                       b4055 JW4015  aphA       1140
sp|P32377|MVD1_YEAST       Diphosphomevalonate decarboxylase                                              YNR043W       MVD1       1140
sp|Q99ZW2|CAS9_STRP1 Cas9  CRISPR-associated endonuclease Cas9/Csn1                                       SPy_1046      cas9       1140
tr|Q8PW39|Q8PW39_METMA     Mevalonate kinase                                                              MM_1762       mvk        1140
tr|Q835L3|Q835L3_ENTFA     Acetyl-CoA acetyltransferase/hydroxymethylglutaryl-CoA reductase, degradative  EF_1364       mvaE        954
                           Hydroxymethylglutaryl-CoA synthase                                             EF_1364       mvaE        186
Name: count, dtype: int64

Drop non-putida proteins other than intentionally expressed ones.

In [56]:
proteins_to_keep_primary = ['neo', 'aacC1', 'mvaS', 'mcm', 'aphA', 'MVD1', 'mvk', 'cas9', 'mvaE']
df = df[(df['primary'].isin(proteins_to_keep_primary)) | (df['is_putida']) | (df['Protocol'] == 'GC-FID')]

In [57]:
df.loc[df['is_putida']==False, :]

,Line Name,Protocol,Formal Type,Measurement Type,Value,is_control,rep,line_name_norep,cycle,plate_number,organism,locus,primary,is_putida
453,Control-R1,Global Proteomics,sp|P00552|KKA2_KLEPN Neo,Aminoglycoside 3'-phosphotransferase,5.341811e+08,True,1.0,Control,0,1,Klebsiella pneumoniae,NaN,neo,False
454,Control-R2,Global Proteomics,sp|P00552|KKA2_KLEPN Neo,Aminoglycoside 3'-phosphotransferase,6.467078e+08,True,2.0,Control,0,1,Klebsiella pneumoniae,NaN,neo,False
455,Control-R3,Global Proteomics,sp|P00552|KKA2_KLEPN Neo,Aminoglycoside 3'-phosphotransferase,6.684408e+08,True,3.0,Control,0,1,Klebsiella pneumoniae,NaN,neo,False
456,Control-R4,Global Proteomics,sp|P00552|KKA2_KLEPN Neo,Aminoglycoside 3'-phosphotransferase,4.428832e+08,True,4.0,Control,0,1,Klebsiella pneumoniae,NaN,neo,False
457,Control-R5,Global Proteomics,sp|P00552|KKA2_KLEPN Neo,Aminoglycoside 3'-phosphotransferase,5.232355e+08,True,5.0,Control,0,1,Klebsiella pneumoniae,NaN,neo,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2549287,PP_0751_PP_0814_PP_4120_P4-R2,Global Proteomics,sp|Q99ZW2|CAS9_STRP1 Cas9,CRISPR-associated endonuclease Cas9/Csn1,0.000000e+00,False,NaN,PP_0751_PP_0814_PP_4120_P4,4,1,Streptococcus pyogenes serotype M1,SPy_1046,cas9,False
2549288,PP_0751_PP_0814_PP_4120_P4-R3,Global Proteomics,sp|Q99ZW2|CAS9_STRP1 Cas9,CRISPR-associated endonuclease Cas9/Csn1,1.307429e+05,False,NaN,PP_0751_PP_0814_PP_4120_P4,4,1,Streptococcus pyogenes serotype M1,SPy_1046,cas9,False
2549292,PP_0751_PP_0814_PP_4120_P4-R1,Global Proteomics,sp|Q9FD71|HMGCS_ENTFL,Hydroxymethylglutaryl-CoA synthase,2.446165e+07,False,NaN,PP_0751_PP_0814_PP_4120_P4,4,1,Enterococcus faecalis (Streptococcus faecalis),NaN,mvaS,False
2549293,PP_0751_PP_0814_PP_4120_P4-R2,Global Proteomics,sp|Q9FD71|HMGCS_ENTFL,Hydroxymethylglutaryl-CoA synthase,3.871369e+07,False,NaN,PP_0751_PP_0814_PP_4120_P4,4,1,Enterococcus faecalis (Streptococcus faecalis),NaN,mvaS,False
2549294,PP_0751_PP_0814_PP_4120_P4-R3,Global Proteomics,sp|Q9FD71|HMGCS_ENTFL,Hydroxymethylglutaryl-CoA synthase,3.115950e+07,False,NaN,PP_0751_PP_0814_PP_4120_P4,4,1,Enterococcus faecalis (Streptococcus faecalis),NaN,mvaS,False

In [58]:
df.loc[df['is_putida']==False, ['Formal Type', 'Measurement Type', 'primary', 'locus']].value_counts()

Formal Type                Measurement Type                                                               primary  locus
P0AE22                     Class B acid phosphatase                                                       aphA     b4055 JW4015    1140
sp|P32377|MVD1_YEAST       Diphosphomevalonate decarboxylase                                              MVD1     YNR043W         1140
sp|Q99ZW2|CAS9_STRP1 Cas9  CRISPR-associated endonuclease Cas9/Csn1                                       cas9     SPy_1046        1140
tr|Q8PW39|Q8PW39_METMA     Mevalonate kinase                                                              mvk      MM_1762         1140
tr|Q835L3|Q835L3_ENTFA     Acetyl-CoA acetyltransferase/hydroxymethylglutaryl-CoA reductase, degradative  mvaE     EF_1364          954
                           Hydroxymethylglutaryl-CoA synthase                                             mvaE     EF_1364          186
Name: count, dtype: int64

In [59]:
df.Protocol.value_counts()

Protocol
Global Proteomics    1926600
GC-FID                  1140
Name: count, dtype: int64

### Add column name based on locus number or primary name

In [60]:
def column_name_from_locus_or_primary(df_row):
    if not pd.isna(df_row['locus']):
        return df_row['locus']
    else:
        return df_row['primary']

In [61]:
df.loc[:,'column_name'] = None
df.loc[df['Protocol'] == 'GC-FID', 'column_name'] = 'isoprenol'
df.loc[df['Protocol'] == 'Global Proteomics', 'column_name'] = df.loc[df['Protocol'] == 'Global Proteomics', :].apply(column_name_from_locus_or_primary, axis = 1)

### add cycle name to line names
Pivoting the dataframes relies on different lines having different names - adding the cycle number ensures that there are no duplicates (especially for controls).

In [62]:
df.loc[:, 'line_name_rep_cycle'] = None
df.loc[df['cycle'] == 0, 'line_name_rep_cycle'] = df.loc[df['cycle'] == 0, 'Line Name'].apply(lambda x: x + '_c0')
df.loc[df['cycle'] == 1, 'line_name_rep_cycle'] = df.loc[df['cycle'] == 1, 'Line Name'].apply(lambda x: x + '_c1')
df.loc[df['cycle'] == 2, 'line_name_rep_cycle'] = df.loc[df['cycle'] == 2, 'Line Name'].apply(lambda x: x + '_c2')
df.loc[df['cycle'] == 3, 'line_name_rep_cycle'] = df.loc[df['cycle'] == 3, 'Line Name'].apply(lambda x: x + '_c3')
df.loc[df['cycle'] == 4, 'line_name_rep_cycle'] = df.loc[df['cycle'] == 4, 'Line Name'].apply(lambda x: x + '_c4')

In [63]:
print(f"cycle 0 unique meas types: {df.loc[df['cycle'] == 0, 'Measurement Type'].unique()[:5]}")
print(f"cycle 1 unique meas types: {df.loc[df['cycle'] == 1, 'Measurement Type'].unique()[:5]}")
print(f"cycle 2 unique meas types: {df.loc[df['cycle'] == 2, 'Measurement Type'].unique()[:5]}")
print(f"cycle 3 unique meas types: {df.loc[df['cycle'] == 3, 'Measurement Type'].unique()[:5]}")
print(f"cycle 4 unique meas types: {df.loc[df['cycle'] == 4, 'Measurement Type'].unique()[:5]}")

cycle 0 unique meas types: ['3-METHYL-3-BUTEN-1-OL' "Aminoglycoside 3'-phosphotransferase"
 'Amino-acid acetyltransferase'
 'Chromosomal replication initiator protein DnaA' 'Beta sliding clamp']
cycle 1 unique meas types: ['3-METHYL-3-BUTEN-1-OL' "Aminoglycoside 3'-phosphotransferase"
 'Amino-acid acetyltransferase'
 'Chromosomal replication initiator protein DnaA' 'Beta sliding clamp']
cycle 2 unique meas types: ['3-METHYL-3-BUTEN-1-OL' "Aminoglycoside 3'-phosphotransferase"
 'Amino-acid acetyltransferase'
 'Chromosomal replication initiator protein DnaA' 'Beta sliding clamp']
cycle 3 unique meas types: ["Aminoglycoside 3'-phosphotransferase" 'Amino-acid acetyltransferase'
 'Chromosomal replication initiator protein DnaA' 'Beta sliding clamp'
 'Ferredoxin 1']
cycle 4 unique meas types: ['3-METHYL-3-BUTEN-1-OL' "Aminoglycoside 3'-phosphotransferase"
 'Amino-acid acetyltransferase'
 'Chromosomal replication initiator protein DnaA' 'Beta sliding clamp']

In [64]:
cycle0mt = list(df.loc[df['cycle'] == 0, 'Measurement Type'].unique())
print(len(cycle0mt))
cycle1mt = list(df.loc[df['cycle'] == 1, 'Measurement Type'].unique())
print(len(cycle1mt))
cycle2mt = list(df.loc[df['cycle'] == 2, 'Measurement Type'].unique())
print(len(cycle2mt))
cycle3mt = list(df.loc[df['cycle'] == 3, 'Measurement Type'].unique())
print(len(cycle3mt))
cycle4mt = list(df.loc[df['cycle'] == 4, 'Measurement Type'].unique())
print(len(cycle4mt))

1394
1394
1394
1394
1393

In [65]:
df.head(3)

,Line Name,Protocol,Formal Type,Measurement Type,Value,is_control,rep,line_name_norep,cycle,plate_number,organism,locus,primary,is_putida,column_name,line_name_rep_cycle
0,Control-R1,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,177.33700,True,1.0,Control,0,1,NaN,NaN,NaN,NaN,isoprenol,Control-R1_c0
1,Control-R10,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,176.13507,True,10.0,Control,0,2,NaN,NaN,NaN,NaN,isoprenol,Control-R10_c0
2,Control-R11,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,192.63713,True,11.0,Control,0,2,NaN,NaN,NaN,NaN,isoprenol,Control-R11_c0

In [66]:
df['line_name_rep_cycle'].value_counts()

line_name_rep_cycle
Control-R1_c0                    1691
PP_1769_PP_4192-R2_c2            1691
PP_1769_PP_2136-R3_c2            1691
PP_0368_PP_1769-R3_c2            1691
Control_P4-R2_c2                 1691
                                 ...
PP_5420-R2_c0                    1691
PP_5420-R3_c0                    1691
PP_0226_PP_0897_PP_5288-R1_c1    1691
PP_1319_PP_1457_PP_4192-R1_c1    1691
Control_P4-R3_c4                 1691
Name: count, Length: 1140, dtype: int64

In [67]:
df.loc[(df['column_name'] == 'PP_1529') & (df['line_name_rep_cycle'] == 'PP_4189-R2_c1')]

Empty DataFrame
Columns: [Line Name, Protocol, Formal Type, Measurement Type, Value, is_control, rep, line_name_norep, cycle, plate_number, organism, locus, primary, is_putida, column_name, line_name_rep_cycle]
Index: []

In [68]:
print(df.loc[(df['line_name_rep_cycle'] == 'PP_4189-R2_c1')].shape)
print(df.loc[(df['line_name_rep_cycle'] == 'PP_1319_PP_1457_PP_4192-R1_c2')].shape)
print(df.loc[(df['line_name_rep_cycle'] == 'PP_0528_PP_0815_PP_1317_PP_4191-R1_c2')].shape)

(0, 16)
(0, 16)
(1691, 16)

In [69]:
df['cycle'].value_counts()

cycle
0    654417
1    324672
2    324672
4    314526
3    309453
Name: count, dtype: int64

## Add normalized values to df

In [70]:
control_mean_df = df.loc[df['is_control'], ['Formal Type', 'Value', 'cycle', 'plate_number']].groupby(['Formal Type', 'cycle', 'plate_number']).mean()
# control_mean_df.loc['P0AE22', 1]

In [71]:
control_mean_df

                                                  Value
Formal Type            cycle plate_number
P0AE22                 0     1             7.785538e+07
                             2             7.313769e+07
                             3             6.489270e+07
                       1     1             6.912507e+07
                       2     1             3.157739e+07
...                                                 ...
tr|Q8PW39|Q8PW39_METMA 0     3             1.199272e+08
                       1     1             8.746541e+07
                       2     1             3.820415e+07
                       3     1             8.321961e+07
                       4     1             5.321477e+07

[11837 rows x 1 columns]

### Divide by control mean dataframe to normalize values

In [72]:
control_mean_df.loc['tr|Q88QV2|Q88QV2_PSEPK', 2, 1]

Value    402452.868333
Name: (tr|Q88QV2|Q88QV2_PSEPK, 2, 1), dtype: float64

In [73]:
divide_by_control = lambda x: x['Value']/control_mean_df.loc[x['Formal Type'], x['cycle'], x['plate_number']].values[0]
df.loc[:, 'normalized_value'] = df.apply(divide_by_control, axis = 1)

### Check control values - `normalized_value` should be around 1

In [74]:
df[df['is_control']].head(5)

,Line Name,Protocol,Formal Type,Measurement Type,Value,is_control,rep,line_name_norep,cycle,plate_number,organism,locus,primary,is_putida,column_name,line_name_rep_cycle,normalized_value
0,Control-R1,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,177.33700,True,1.0,Control,0,1,NaN,NaN,NaN,NaN,isoprenol,Control-R1_c0,1.078340
1,Control-R10,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,176.13507,True,10.0,Control,0,2,NaN,NaN,NaN,NaN,isoprenol,Control-R10_c0,1.024392
2,Control-R11,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,192.63713,True,11.0,Control,0,2,NaN,NaN,NaN,NaN,isoprenol,Control-R11_c0,1.120367
3,Control-R12,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,202.70480,True,12.0,Control,0,2,NaN,NaN,NaN,NaN,isoprenol,Control-R12_c0,1.178920
4,Control-R13,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,123.84653,True,13.0,Control,0,2,NaN,NaN,NaN,NaN,isoprenol,Control-R13_c0,0.720284

### Test normalization
Manually calculate the control means for a couple strains and test that they equal the dataframe results.

In [75]:
test_ft = 'sp|P00552|KKA2_KLEPN Neo'
test_line = 'PP_0368_PP_1769-R3'
test_series = df.loc[(df['Line Name'] == test_line) & (df['Formal Type'] == test_ft) & (df['cycle'] == 2), :]
test_series

,Line Name,Protocol,Formal Type,Measurement Type,Value,is_control,rep,line_name_norep,cycle,plate_number,organism,locus,primary,is_putida,column_name,line_name_rep_cycle,normalized_value
1372268,PP_0368_PP_1769-R3,Global Proteomics,sp|P00552|KKA2_KLEPN Neo,Aminoglycoside 3'-phosphotransferase,129194194.1,False,NaN,PP_0368_PP_1769,2,1,Klebsiella pneumoniae,NaN,neo,False,neo,PP_0368_PP_1769-R3_c2,0.809593

In [76]:
test_cntrl_val = df.loc[(df['is_control']) & (df['Formal Type'] == test_ft) & (df['cycle'] == 2), 'Value'].values
test_cntrl_mean = np.mean(test_cntrl_val)

In [77]:
print(f"Normalized value from lambda function: {test_series['normalized_value'].values}")
print(f"Normalized value from checking: {test_series['Value'].values/test_cntrl_mean}")
assert np.abs(test_series['normalized_value'].values[0] - test_series['Value'].values[0]/test_cntrl_mean) < 1e-10, 'Normalization from cycle 2 did not work'

Normalized value from lambda function: [0.80959293]
Normalized value from checking: [0.80959293]

In [78]:
test_ft = 'sp|Q9FD71|HMGCS_ENTFL'
test_line = 'PP_0813_PP_4189-R2'
test_plate = 1
test_series = df.loc[(df['Line Name'] == test_line) & (df['Formal Type'] == test_ft) & (df['cycle'] == 1), :]
test_series

,Line Name,Protocol,Formal Type,Measurement Type,Value,is_control,rep,line_name_norep,cycle,plate_number,organism,locus,primary,is_putida,column_name,line_name_rep_cycle,normalized_value
1371463,PP_0813_PP_4189-R2,Global Proteomics,sp|Q9FD71|HMGCS_ENTFL,Hydroxymethylglutaryl-CoA synthase,94215218.55,False,2.0,PP_0813_PP_4189,1,1,Enterococcus faecalis (Streptococcus faecalis),NaN,mvaS,False,mvaS,PP_0813_PP_4189-R2_c1,1.262698

In [79]:
test_cntrl_val = df.loc[(df['is_control']) & (df['Formal Type'] == test_ft) & (df['cycle'] == 1) & (df['plate_number'] == test_plate), 'Value'].values
test_cntrl_mean = np.mean(test_cntrl_val)

In [80]:
print(f"Normalized value from lambda function: {test_series['normalized_value'].values}")
print(f"Normalized value from checking: {test_series['Value'].values/test_cntrl_mean}")
assert np.abs(test_series['normalized_value'].values[0] - test_series['Value'].values[0]/test_cntrl_mean) < 1e-10, 'Normalization from cycle 1 did not work'

Normalized value from lambda function: [1.26269774]
Normalized value from checking: [1.26269774]

## Transform dataframe into matrix

In [81]:
df.head(3)

,Line Name,Protocol,Formal Type,Measurement Type,Value,is_control,rep,line_name_norep,cycle,plate_number,organism,locus,primary,is_putida,column_name,line_name_rep_cycle,normalized_value
0,Control-R1,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,177.33700,True,1.0,Control,0,1,NaN,NaN,NaN,NaN,isoprenol,Control-R1_c0,1.078340
1,Control-R10,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,176.13507,True,10.0,Control,0,2,NaN,NaN,NaN,NaN,isoprenol,Control-R10_c0,1.024392
2,Control-R11,GC-FID,cid:12988,3-METHYL-3-BUTEN-1-OL,192.63713,True,11.0,Control,0,2,NaN,NaN,NaN,NaN,isoprenol,Control-R11_c0,1.120367

In [82]:
df['line_name_rep_cycle'].value_counts().unique()

array([1691])

# TODO: Figure out where dupe entries come from!!

In [83]:
df_pivot = df.pivot(columns = 'column_name', index = 'line_name_rep_cycle', values='Value')
df_pivot

column_name,EF_1364,MM_1762,PP_0001,PP_0002,PP_0003,PP_0004,PP_0005,PP_0006,PP_0009,PP_0010,...,PP_5416,PP_5417,PP_5418,SPy_1046,YNR043W,aacC1,b4055 JW4015,isoprenol,mvaS,neo
line_name_rep_cycle,,,,,,,,,,,,,,,,,,,,,
Control-R10_c0,6.568999e+08,204555498.0,4191160.00,1726479.00,3373951.00,2173503.20,738448.20,9799845.60,3990000.00,7383747.00,...,7783568.00,26338335.00,0.00,28115139.40,582841585.4,3.540011e+08,78695480.00,176.13507,1.748806e+08,611368325.0
Control-R11_c0,6.336656e+08,225083958.1,2954944.60,1519673.10,2999362.20,2068667.90,745762.90,11322391.80,3840000.00,6756559.10,...,8560711.10,29120542.00,22439.40,24151481.40,628324289.0,3.715957e+08,89522940.50,192.63713,1.855450e+08,583198798.1
Control-R12_c0,6.537668e+08,226726387.0,4756032.40,891103.00,3438064.90,2201048.00,1559719.40,10431480.00,3490000.00,6141182.00,...,8744373.00,26427577.00,6920000.00,26008612.70,604150115.0,3.712542e+08,66224677.00,202.70480,1.838732e+08,622874642.0
Control-R13_c0,6.366289e+08,200667947.6,4025175.40,2821506.40,2777374.50,2254175.60,933420.60,10625799.20,4560000.00,7289281.70,...,9898680.20,28681508.40,21364.80,18057997.40,598017284.4,3.228457e+08,66120646.40,123.84653,1.635552e+08,493564402.8
Control-R14_c0,5.698250e+08,197817740.0,4954802.00,1928740.00,3060918.70,1873130.60,820983.00,10869912.00,4270000.00,5371024.00,...,9738552.00,24870124.00,45745.40,19880408.70,617297176.0,3.000795e+08,72990757.00,177.18560,1.498090e+08,596946095.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PP_5419-R2_c0,6.014404e+08,178768404.0,4131963.00,71770.00,1760021.40,984214.40,1492928.00,6667854.10,1900000.00,4177118.00,...,6189417.00,24107160.00,28708.00,803824.00,573320625.0,1.128065e+07,89442492.00,370.25140,1.830121e+08,555565357.0
PP_5419-R3_c0,6.272613e+08,183746539.3,4255756.50,553067.80,1974287.30,1515129.60,2234677.10,6523522.30,2310000.00,7489820.90,...,5855244.50,21230302.70,29217.40,818087.20,553088857.8,3.242957e+06,79550335.50,412.20373,1.897306e+08,594267176.7
PP_5420-R1_c0,6.450008e+06,120504898.3,3028443.34,498753.70,1467967.58,402468.14,1433527.48,1677480.10,850904.94,2992267.08,...,4832609.94,17318943.76,272428.88,238334.18,292583031.3,9.634786e+04,47392281.16,84.91467,1.269587e+07,683034233.3
PP_5420-R2_c0,7.544047e+06,137604193.6,2246888.40,383562.70,1180315.18,342419.88,1770609.48,1817571.10,629595.74,2804491.62,...,5430974.74,18937184.70,1374643.74,296369.78,341006219.3,1.765076e+06,28653211.36,92.38133,1.529941e+07,575740435.4
PP_5420-R3_c0,8.953790e+06,138330826.7,2416307.50,517691.25,1306895.35,267155.60,965912.25,2141291.05,1854756.05,2450097.50,...,4122734.15,19700842.25,212346.10,223534.35,360838611.0,9.036495e+04,39320982.65,97.51600,1.666375e+07,784956270.6

In [84]:
df_pivot_norm = df.pivot(columns = 'column_name', index = 'line_name_rep_cycle', values = 'normalized_value')
df_pivot_norm

column_name,EF_1364,MM_1762,PP_0001,PP_0002,PP_0003,PP_0004,PP_0005,PP_0006,PP_0009,PP_0010,...,PP_5416,PP_5417,PP_5418,SPy_1046,YNR043W,aacC1,b4055 JW4015,isoprenol,mvaS,neo
line_name_rep_cycle,,,,,,,,,,,,,,,,,,,,,
Control-R10_c0,1.039569,0.951793,1.094915,0.970530,1.133319,0.957359,0.787047,0.934429,1.095724,1.152434,...,0.792854,0.952586,0.000000,1.275427,0.988950,1.042664,1.075991,1.024392,0.995796,1.110129
Control-R11_c0,1.002800,1.047312,0.771961,0.854275,1.007493,0.911182,0.794843,1.079606,1.054531,1.054544,...,0.872016,1.053211,0.022315,1.095618,1.066124,1.094487,1.224033,1.120367,1.056521,1.058979
Control-R12_c0,1.034610,1.054954,1.242484,0.500928,1.154855,0.969491,1.662368,0.994657,0.958415,0.958498,...,0.890724,0.955814,6.881715,1.179865,1.025106,1.093481,0.905480,1.178920,1.047002,1.131022
Control-R13_c0,1.007489,0.933705,1.051552,1.586093,0.932927,0.992892,0.994851,1.013185,1.252256,1.137690,...,1.008304,1.037332,0.021247,0.819190,1.014700,0.950900,0.904057,0.720284,0.931308,0.896219
Control-R14_c0,0.901769,0.920443,1.294411,1.084229,1.028170,0.825054,0.875014,1.036462,1.172617,0.838294,...,0.991993,0.899485,0.045492,0.901863,1.047413,0.883845,0.997991,1.030501,0.853035,1.083941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PP_5419-R2_c0,0.951802,0.831806,1.079450,0.040345,0.591196,0.433515,1.591181,0.635789,0.521773,0.651952,...,0.630470,0.871891,0.028549,0.036465,0.972795,0.033226,1.222933,2.153361,1.042099,1.008801
PP_5419-R3_c0,0.992665,0.854970,1.111790,0.310904,0.663168,0.667366,2.381747,0.622027,0.634366,1.168989,...,0.596430,0.767842,0.029056,0.037112,0.938466,0.009552,1.087679,2.397354,1.080355,1.079077
PP_5420-R1_c0,0.145406,1.004817,1.104894,0.442635,0.748915,0.337878,1.798357,0.237874,0.392700,0.869069,...,0.726382,0.892056,0.084788,0.030160,0.705855,0.000445,0.730318,0.484521,0.143453,1.447907
PP_5420-R2_c0,0.170069,1.147398,0.819752,0.340405,0.602163,0.287466,2.221226,0.257740,0.290564,0.814532,...,0.816321,0.975408,0.427833,0.037505,0.822675,0.008155,0.441548,0.527125,0.172871,1.220464
PP_5420-R3_c0,0.201850,1.153457,0.881563,0.459441,0.666740,0.224281,1.211735,0.303645,0.855985,0.711602,...,0.619682,1.014742,0.066089,0.028287,0.870521,0.000418,0.605938,0.556424,0.188287,1.663963

Reorder columns to put isoprenol at the end

In [85]:
df_pivot = df_pivot[[column for column in df_pivot if column not in ['isoprenol']]
                    + ['isoprenol']]

df_pivot_norm = df_pivot_norm[[column for column in df_pivot_norm if column not in ['isoprenol']]
                    + ['isoprenol']]
df_pivot

column_name,EF_1364,MM_1762,PP_0001,PP_0002,PP_0003,PP_0004,PP_0005,PP_0006,PP_0009,PP_0010,...,PP_5416,PP_5417,PP_5418,SPy_1046,YNR043W,aacC1,b4055 JW4015,mvaS,neo,isoprenol
line_name_rep_cycle,,,,,,,,,,,,,,,,,,,,,
Control-R10_c0,6.568999e+08,204555498.0,4191160.00,1726479.00,3373951.00,2173503.20,738448.20,9799845.60,3990000.00,7383747.00,...,7783568.00,26338335.00,0.00,28115139.40,582841585.4,3.540011e+08,78695480.00,1.748806e+08,611368325.0,176.13507
Control-R11_c0,6.336656e+08,225083958.1,2954944.60,1519673.10,2999362.20,2068667.90,745762.90,11322391.80,3840000.00,6756559.10,...,8560711.10,29120542.00,22439.40,24151481.40,628324289.0,3.715957e+08,89522940.50,1.855450e+08,583198798.1,192.63713
Control-R12_c0,6.537668e+08,226726387.0,4756032.40,891103.00,3438064.90,2201048.00,1559719.40,10431480.00,3490000.00,6141182.00,...,8744373.00,26427577.00,6920000.00,26008612.70,604150115.0,3.712542e+08,66224677.00,1.838732e+08,622874642.0,202.70480
Control-R13_c0,6.366289e+08,200667947.6,4025175.40,2821506.40,2777374.50,2254175.60,933420.60,10625799.20,4560000.00,7289281.70,...,9898680.20,28681508.40,21364.80,18057997.40,598017284.4,3.228457e+08,66120646.40,1.635552e+08,493564402.8,123.84653
Control-R14_c0,5.698250e+08,197817740.0,4954802.00,1928740.00,3060918.70,1873130.60,820983.00,10869912.00,4270000.00,5371024.00,...,9738552.00,24870124.00,45745.40,19880408.70,617297176.0,3.000795e+08,72990757.00,1.498090e+08,596946095.0,177.18560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PP_5419-R2_c0,6.014404e+08,178768404.0,4131963.00,71770.00,1760021.40,984214.40,1492928.00,6667854.10,1900000.00,4177118.00,...,6189417.00,24107160.00,28708.00,803824.00,573320625.0,1.128065e+07,89442492.00,1.830121e+08,555565357.0,370.25140
PP_5419-R3_c0,6.272613e+08,183746539.3,4255756.50,553067.80,1974287.30,1515129.60,2234677.10,6523522.30,2310000.00,7489820.90,...,5855244.50,21230302.70,29217.40,818087.20,553088857.8,3.242957e+06,79550335.50,1.897306e+08,594267176.7,412.20373
PP_5420-R1_c0,6.450008e+06,120504898.3,3028443.34,498753.70,1467967.58,402468.14,1433527.48,1677480.10,850904.94,2992267.08,...,4832609.94,17318943.76,272428.88,238334.18,292583031.3,9.634786e+04,47392281.16,1.269587e+07,683034233.3,84.91467
PP_5420-R2_c0,7.544047e+06,137604193.6,2246888.40,383562.70,1180315.18,342419.88,1770609.48,1817571.10,629595.74,2804491.62,...,5430974.74,18937184.70,1374643.74,296369.78,341006219.3,1.765076e+06,28653211.36,1.529941e+07,575740435.4,92.38133
PP_5420-R3_c0,8.953790e+06,138330826.7,2416307.50,517691.25,1306895.35,267155.60,965912.25,2141291.05,1854756.05,2450097.50,...,4122734.15,19700842.25,212346.10,223534.35,360838611.0,9.036495e+04,39320982.65,1.666375e+07,784956270.6,97.51600

In [86]:
df_pivot.to_csv('./data/unnormalized_proteomics_pivot_c0-c4.csv')
df_pivot_norm.to_csv('./data/normalized_proteomics_pivot_c0-c4.csv')